<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sooaz.gpt.domain.community.CommunityMapper">
    <resultMap id="CommunityResultMap" type="com.sooaz.gpt.domain.community.Community">
        <id property="id" column="id"/>
        <result property="communityPostCategory" column="community_post_category"/>
        <result property="userId" column="user_id"/>
        <result property="communityPostTitle" column="community_post_title"/>
        <result property="communityPostContent" column="community_post_content"/>
        <result property="communityPostHit" column="community_post_hit"/>
        <result property="communityPostWritedate" column="community_post_writedate"/>
        <result property="communityPostLike" column="community_post_like"/>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="CommunityResultMap">
        SELECT * FROM community_post WHERE id = #{id}
    </select>



    <select id="findAll" resultMap="CommunityResultMap">
        SELECT * FROM community_post
        WHERE (#{search, jdbcType=VARCHAR} IS NULL OR LOWER(community_post_title) LIKE '%' || LOWER(#{search, jdbcType=VARCHAR}) || '%')
        ORDER BY community_post_writedate DESC
    </select>

    <select id="count" resultType="long">
        SELECT count(0) FROM community_post
    </select>

    <select id="findByUserId" parameterType="long" resultMap="CommunityResultMap">
        select * from community_post where user_id = #{userId} order by id desc
    </select>

    <select id="findBookmarksByUserId" parameterType="long" resultMap="CommunityResultMap">
        select * from community_post where id in (select community_post_id from bookmark where user_id = #{userId}) order by id desc
    </select>


    <update id="update" parameterType="com.sooaz.gpt.domain.community.Community">
        UPDATE community_post
        SET user_id = #{userId},
            community_post_title = #{communityPostTitle},
            community_post_content = #{communityPostContent},
            community_post_hit = #{communityPostHit},
            community_post_like  = #{communityPostLike},
            community_post_writedate = #{communityPostWirtedate},
            community_post_category = #{communityPostCategory}
        WHERE id = #{id}
    </update>



    <insert id="save" parameterType="com.sooaz.gpt.domain.community.Community">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT COMMUNITY_POST_ID_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO community_post (id, user_id, community_post_title, community_post_content,community_post_category)
        VALUES (
        #{id, jdbcType=BIGINT}, #{userId, jdbcType=BIGINT}, #{communityPostTitle, jdbcType=VARCHAR}, #{communityPostContent, jdbcType=VARCHAR},#{communityPostCategory, jdbcType=VARCHAR}
        )
    </insert>



    <delete id="delete" parameterType="long">
        delete from COMMUNITY_POST where id = #{id}
    </delete>

    <update id="increaseViewCount" parameterType="long">
        UPDATE COMMUNITY_POST SET community_post_hit = community_post_hit + 1 WHERE id = #{id}
    </update>


</mapper>
