<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sooaz.gpt.domain.community.bookmark.BookmarkMapper">
    <insert id="insert" parameterType="Likes">
        INSERT INTO Bookmark
        VALUES (
                   #{communityPostId, jdbcType=BIGINT},  #{userId, jdbcType=BIGINT}
               )
    </insert>
    <delete id="delete" parameterType="Bookmark">
        delete from BOOKMARK where community_post_id = #{communityPostId} and user_id = #{userId}
    </delete>
</mapper>
