body, html{
    height: 100%;
}

header {
    height: 85px; /* header 높이, 임의 지정 */
    position: relative;
    z-index: 1;
}

section {
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 85px; /* header 보금자리 */
    padding-bottom: 100px; /* footer 보금자리 */
    transform: translateY(-85px); /* header 높이 만큼 이동 */
}

footer {
    height: 100px; /* footer 높이, 임의 지정 */
    transform: translateY(-185px); /* section 올라간 높이 + 본인 높이 만큼 이동 */
}

/* 좋아요, 플래시카드 보관함 아이콘*/

.bi-heart-fill {
    color: red;
}

.bi-archive-fill {
    color: rgb(57, 116, 25);
}

.pronunciationAccuracy {
    font-size: 12px;
    line-height: 24px;
    font-weight: lighter;
    color: rgb(35, 28, 181);
}

.assistantTalk {
    background-color: #F4F2FF;
}

/* 녹음 UI 관련 */

#stop {
    color: rgb(255, 0, 0);
    width: 45px;
    height: 45px;
    border-color: gray;
}

#record {
    width: 45px;
    height: 45px;
    background-color: #5DB99D;
    border-color: #5DB99D;
}

#initialAssistantTalk, #record, #stop, #waitingMessage, #stopDialogue {
    display: none;
}

.pronunciationBtn, .ttsBtn, *:disabled {
    border: none;
}

a {
    color: gray;
    text-decoration: none;
}

.btn.btn-primary{
    border: 1px solid #5DB99D;
    color: #5DB99D;
    background-color: white;
}
.btn.btn-primary:active{
    border: 1px solid #5DB99D;
    color: #5DB99D;
    background-color: white;
}
.btn.btn-primary:focus {
    border: 1px solid #5DB99D;
    color: #5DB99D;
    background-color: white;
}
.btn.btn-primary:hover{
    border: 1px solid #5DB99D;
    color: #5DB99D;
    background-color: white;
}

.accordion .accordion-item .accordion-header .accordion-button{
    background-color: white;
    color: black;
}
.accordion .accordion-item .accordion-header .accordion-button:active{
    background-color: #CFEAE2;
    color: white;
}
.accordion .accordion-item .accordion-header .accordion-button:hover{
    background-color: #CFEAE2;
    color: black;
}