.col-md-7{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding:20px;
    width: 800px;
}
#noticeboard .table thead trboardname{
    margin-left: 20px;
}
a { color: black; }
a:visited { color: black; }
a:hover { color: black; }
a:active { color: black; }
#searchbar fa-solid,
#searchbar searchbox{
}

.accordion .accordion-item .accordion-header .accordion-button{
    background-color: white;
    color: black;
}
.accordion .accordion-item .accordion-header .accordion-button:hover{
    background-color: #CFEAE2;
    color: black;
}
.accordion .accordion-item .accordion-header .accordion-button:focus{
    background-color: #CFEAE2;
    color: black;
}
.accordion .accordion-item .accordion-header .accordion-button:active{
    background-color: #CFEAE2;
    color: white;
}

#reportModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

#reportModal.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reportModalBody {
    position: fixed;
    width: 500px;
    /*height: 600px;*/
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
}