#pronunciationModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

#pronunciationModal.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pronunciationModalBody {
    position: fixed;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
}

#stop, #pronunciationStop {
    color: rgb(255, 0, 0);
    width: 45px;
    height: 45px;
    border-color: gray;
}

#pronunciationRecord {
    width: 45px;
    height: 45px;
    background-color: #5DB99D;
    border-color: #5DB99D;
}

.pronunciationAccuracy {
    font-size: 12px;
    line-height: 24px;
    font-weight: lighter;
    color: rgb(35, 28, 181);
}

*:disabled, #pronunciationTtsBtn {
    border: none;
}