<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sooaz.gpt.domain.admin.AdminMapper">
    <resultMap id="monthlyUserCountResultMap" type="com.sooaz.gpt.domain.admin.trend.MonthlyUserCount">
        <result property="year" column="year"/>
        <result property="month" column="month"/>
        <result property="count" column="count"/>
    </resultMap>

    <resultMap id="ageGroupCountResultMap" type="com.sooaz.gpt.domain.admin.trend.AgeGroupCount">
        <result property="ageGroup" column="age_group"/>
        <result property="count" column="count"/>
    </resultMap>

    <resultMap id="userViewResultMap" type="com.sooaz.gpt.domain.admin.user.UserView">
        <id property="id" column="ID"/>
        <result property="userLoginId" column="USER_LOGIN_ID"/>
        <result property="userPassword" column="USER_PASSWORD"/>
        <result property="userPasswordSalt" column="USER_PASSWORD_SALT"/>
        <result property="userNickname" column="USER_NICKNAME"/>
        <result property="userRole" column="USER_ROLE"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userBirthday" column="USER_BIRTHDAY"/>
        <result property="userEmailAgreement" column="USER_EMAIL_AGREEMENT"/>
        <result property="userCreatedate" column="USER_CREATEDATE"/>
        <result property="blockDate" column="BLOCK_DATE"/>
        <result property="blockReason" column="BLOCK_REASON"/>
    </resultMap>

    <select id="getUserViewList" resultMap="userViewResultMap" parameterType="map">
        SELECT * FROM users
        <where>
            user_role = 'USER'
            <if test="search != null and searchOption != null">
                AND LOWER(${searchOption}) LIKE LOWER('%' || #{search} || '%')
            </if>
        </where>
        ORDER BY id
    </select>

    <select id="getMonthlyUserCounts" resultMap="monthlyUserCountResultMap">
        SELECT EXTRACT(YEAR FROM user_createdate) AS year,
               EXTRACT(MONTH FROM user_createdate) AS month,
               COUNT(*) AS count
        FROM users
        GROUP BY EXTRACT(YEAR FROM user_createdate), EXTRACT(MONTH FROM user_createdate)
        ORDER BY year, month
    </select>

    <select id="getAgeGroupCounts" resultMap="ageGroupCountResultMap">
        SELECT
            CASE
                WHEN FLOOR(MONTHS_BETWEEN(SYSDATE, user_birthday) / 12) BETWEEN 0 AND 9 THEN '0-9'
                WHEN FLOOR(MONTHS_BETWEEN(SYSDATE, user_birthday) / 12) BETWEEN 10 AND 19 THEN '10-19'
                WHEN FLOOR(MONTHS_BETWEEN(SYSDATE, user_birthday) / 12) BETWEEN 20 AND 29 THEN '20-29'
                WHEN FLOOR(MONTHS_BETWEEN(SYSDATE, user_birthday) / 12) BETWEEN 30 AND 39 THEN '30-39'
                WHEN FLOOR(MONTHS_BETWEEN(SYSDATE, user_birthday) / 12) BETWEEN 40 AND 49 THEN '40-49'
                ELSE '50+'
                END AS age_group,
            COUNT(*) AS count
        FROM
            users
        GROUP BY
            CASE
            WHEN FLOOR(MONTHS_BETWEEN(SYSDATE, user_birthday) / 12) BETWEEN 0 AND 9 THEN '0-9'
            WHEN FLOOR(MONTHS_BETWEEN(SYSDATE, user_birthday) / 12) BETWEEN 10 AND 19 THEN '10-19'
            WHEN FLOOR(MONTHS_BETWEEN(SYSDATE, user_birthday) / 12) BETWEEN 20 AND 29 THEN '20-29'
            WHEN FLOOR(MONTHS_BETWEEN(SYSDATE, user_birthday) / 12) BETWEEN 30 AND 39 THEN '30-39'
            WHEN FLOOR(MONTHS_BETWEEN(SYSDATE, user_birthday) / 12) BETWEEN 40 AND 49 THEN '40-49'
            ELSE '50+'
        END
        ORDER BY
    age_group
    </select>

    <update id="blockUser" >
        UPDATE
            users
        SET
            block_date = SYSDATE,
            BLOCK_REASON = #{param2}
        WHERE
            id = #{param1}
    </update>

    <select id="getBlockedUsers" resultMap="userViewResultMap">
        SELECT *
        FROM users
        WHERE block_date IS NOT NULL
        <if test="search != null and search.trim() != ''">
            AND (
            user_login_id LIKE '%' || #{search,jdbcType=VARCHAR} || '%'
            OR user_nickname LIKE '%' || #{search,jdbcType=VARCHAR} || '%'
            )
        </if>
        ORDER BY user_createdate DESC
    </select>

    <select id="getBlockedUsersCount" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE block_date IS NOT NULL
        <if test="search != null and search.trim() != ''">
            AND (
            user_login_id LIKE '%' || #{search,jdbcType=VARCHAR} || '%'
            OR user_nickname LIKE '%' || #{search,jdbcType=VARCHAR} || '%'
            )
        </if>
    </select>

    <update id="unblockUser" parameterType="int">
        UPDATE users SET block_date = NULL WHERE id = #{userId}
    </update>

</mapper>
