<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sooaz.gpt.domain.user.UserMapper">

    <insert id="save">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            select USERS_ID_SEQ.nextval from dual
        </selectKey>
        insert into USERS
        (
            id,
            user_login_id,
            user_password,
            user_nickname,
            user_role,
            user_email,
            user_birthday,
            user_alarm_agreement
        )
        values
        (
            #{id},
            #{userLoginId},
            #{userPassword},
            #{userNickname},
            #{userRole},
            #{userEmail},
            #{userBirthday},
            #{userAlarmAgreement}
        )
    </insert>

    <select id="findAll" resultType="User">
        select * from USERS
    </select>




    <select id="findByLoginId" parameterType="String" resultType="User">
        select * from USERS where USER_LOGIN_ID = #{userLoginId}
    </select>

    <select id="findByNickname" parameterType="String" resultType="User">
        select * from USERS where USER_NICKNAME = #{userNickname}
    </select>

    <select id="findByEmail" parameterType="String" resultType="User">
        select * from USERS where USER_EMAIL = #{userEmail}
    </select>

    <update id="update">
        update USERS
        <set>
            <if test="userPassword != null">
                user_password = #{userPassword},
            </if>
            <if test="userNickname != null">
                user_nickname = #{userNickname},
            </if>
            <if test="userBirthday != null">
                user_birthday = #{userBirthday},
            </if>
            <if test="userAlarmAgreement != null">
                user_birthday = #{userAlarmAgreement},
            </if>
        </set>
        where id = #{userId}
    </update>

    <delete id="delete">
        delete from USERS where ID = #{userId}
    </delete>

</mapper>