<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sooaz.gpt.domain.admin.faq.FaqMapper">
    <resultMap id="FaqResultMap" type="com.sooaz.gpt.domain.admin.faq.Faq">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="faqTitle" column="faq_title"/>
        <result property="faqContent" column="faq_content"/>
        <result property="faqHit" column="faq_hit"/>
        <result property="faqWriteDate" column="faq_writedate"/>
        <result property="faqLike" column="faq_like"/>
    </resultMap>

    <select id="findAll" resultMap="FaqResultMap">
        SELECT * FROM board_faq
        WHERE (#{search, jdbcType=VARCHAR} IS NULL OR LOWER(faq_title) LIKE '%' || LOWER(#{search, jdbcType=VARCHAR}) || '%')
        ORDER BY id DESC
    </select>

    <select id="count" resultType="int">
        SELECT count(0) FROM board_faq
    </select>

    <select id="findById" parameterType="long" resultMap="FaqResultMap">
        SELECT * FROM board_faq WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.sooaz.gpt.domain.admin.faq.FaqCreateDto">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT BOARD_FAQ_ID_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO board_faq (id, user_id, faq_category, faq_title, faq_content)
        VALUES (#{id, jdbcType=BIGINT}, #{userId, jdbcType=BIGINT},#{faqCategory, jdbcType=VARCHAR} , #{faqTitle, jdbcType=VARCHAR}, #{faqContent, jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.sooaz.gpt.domain.admin.faq.Faq">
        UPDATE board_faq
        SET user_id = #{userId},
            faq_title = #{faqTitle},
            faq_content = #{faqContent},
            faq_category = #{faqCategory}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM board_faq WHERE id = #{id}
    </delete>
</mapper>
